[submodule "dev_snowpack_01"]
	path = dev_snowpack_01
	url = https://github.com/benibana2001/dev_snowpack_01.git
[submodule "dev_snowpack_02_calcurator"]
	path = dev_snowpack_02_calcurator
	url = https://github.com/benibana2001/dev_snowpack_02_calcurator.git
